.booking-page {
    background-color: var(--color-primary-green);
    height: 100vh;
    padding: 10rem;
}

@media screen and (max-width:540px) {
    .booking-page {
        padding: 10rem 2rem;
    }
}

@media screen and (max-width:414px) {
    .booking-page {
        padding: 7rem 0;
    }
}