@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');
footer {
  background-color: var(--color-secondary-light-grey);
}

.footer-container{
  display: grid;
  grid-template-columns: 20% 80%;
  grid-gap: 2rem;
}

.footer-container > img {
  width: 150px;
  height: 50px;
}

.menu-footer {
  display: flex;
  gap: 5.5rem;
  /* margin-top: 15px; */
  margin-bottom: 15px;
}

.menu-footer .contact, .menu-footer .social-media-links {
    margin-left: 29px;
}

.menu-footer > div {
    margin-right: 60px;
}

.menu-footer .navigation h5 {
    margin-bottom: 5px;
}

.menu-footer .contact h5, .menu-footer .social-media-links h5 {
    margin-bottom: 22px;
}

.menu-footer h5 {
    color: var(--color-dark);
    font-family: var(--title-font);
    font-size: var(--section-category-size);
    font-weight: var(--text-lead-weight);
}

.menu-footer ul {
    color: var(--color-dark);
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    align-items: center;
}




@media screen and (max-width: 768px) {

  .footer-container{
    grid-template-columns: none;
  }
  .footer-image {
    display: none;
  }
  .menu-footer {
    display: flex;
    gap: 3rem;
  }

}

@media screen and (max-width:540px) {
  .menu-footer {
    display: flex;
    flex-direction: column;
  }
  .menu-footer .contact, .menu-footer .social-media-links {
    margin-left: 0;
  }
  .menu-footer > div {
    margin-right: 0;
  }
  .menu-footer h5 {
      font-size: var(--display-regular-size);
  }
  .menu-footer ul {
      font-size: var(--text-lead-size);
  }
}

@media screen and (max-width:480px) {
  .menu-footer {
    display: flex;
    flex-direction: column;
  }
  .menu-footer .contact, .menu-footer .social-media-links {
    margin-left: 0;
  }
  .menu-footer > div {
    margin-right: 0;
  }
  .menu-footer h5 {
      font-size: var(--display-regular-size);
  }
  .menu-footer ul {
      font-size: var(--text-lead-size);
  }
}