@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');
footer {
  background-color: var(--color-secondary-light-grey);
}
.menu-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 0.5rem;
}
.menu-footer div {
  width: 20%;
}

.menu-footer h5 {
  color: var(--color-dark);
  font-family: var(--title-font);
  font-size: var(--section-category-size);
  font-weight: var(--text-lead-weight);
  text-decoration: underline;
  margin-bottom: 1rem;
}

.menu-footer .image-footer {
  margin-bottom: 1.5rem;
  width: 80px;
  height: 10px;
}

.menu-footer .image-footer img {
  width: 100%;
}

.menu-footer .contact ul li span, .menu-footer .operating-hours ul li span  {
  font-weight: 500;
}

.menu-footer ul {
    color: var(--color-dark);
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    align-items: center;
}

.menu-footer ul a {
  transition: 0.3s;
}

.menu-footer ul a:hover {
  color: var(--color-primary-yellow);
}

.social-media ul {
  display: flex;
  gap: 2rem;
}

.social-media ul svg {
  font-size: 1.5rem;
  transition: 0.3s;
}

.social-media ul li:first-child svg {
  color: #3b5998;
}
.social-media ul li:nth-child(2) svg {
  color: #0077b5;
}
.social-media ul li:nth-child(3) svg {
  color: #1DA1F2;
}

.social-media ul li:last-child svg {
  color: #fff;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  border-radius: 10px;
}

.social-media ul li svg:hover {
  cursor: pointer;
  opacity: 0.8;
}






@media screen and (max-width: 768px) {
  .contact li {
    font-size: 8px;
  }
  .operating-hours li {
    font-size: 11px;
  }
  .social-media ul {
    display: flex;
    gap: 0.5rem;
  }

}

@media screen and (max-width:540px) {
  .menu-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .menu-footer div {
    width: 100%;
  }
  .menu-footer h5 {
    font-size: var(--display-regular-size);
  }
  .menu-footer .image-footer {
    width: 150px;
    height: 50px;
    margin: 25px auto;
  }
  .menu-footer ul li {
    font-size: 22px;
  }
  .social-media ul {
    justify-content: center;
  }
  .social-media ul svg {
    font-size: 2.5rem;
  }
}

@media screen and (max-width:480px) {
  .menu-footer {
    display: flex;
    flex-direction: column;
  }
}