@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');
nav {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-gap: 2rem;
  margin: 10px 0;
}
nav > img {
  width: 150px;
  height: 50px;
}

nav ul {
  display: flex;
  gap: 4.5rem;
  align-items: center;
  /* margin-top: 13px; */
}

nav ul a {
  color: var(--color-dark);
  font-family: 'Oswald', sans-serif;
  font-size: var(--section-category-size);
  font-weight: var(--text-lead-weight);
  text-transform: uppercase;
  transition: 0.3s;
}

nav ul a:hover {
  color: var(--color-primary-yellow);
}

.nav-btn {
  cursor: pointer;
  padding: 5px;
  background: transparent;
  border: none;
  outline: none;
  opacity: 0;
  font-size: 1.9rem;
  visibility: hidden;
  display: none;
}

@media screen and (max-width: 1240px) {
  nav img {
    width: 130px;
    height: 50px;
  }

  nav ul {
    gap: 4rem;
  }
  nav ul a {
    font-size: 14px;
  }
}

@media screen and (max-width: 912px) {
  nav ul {
    gap: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  /* nav ul {
    gap: 2.5rem;
  } */
  nav ul a {
    font-size: 13px;
  }
}

@media screen and (max-width:700px) {
  .nav-btn {
    visibility: visible;
		opacity: 1;
		position: fixed;
		right: 2rem;
    display: inline;
  }
  .nav-close {
		position: absolute;
		top: 0.9rem;
		right: 2.5rem;
    z-index: 3;
	}
  nav ul {
    position: fixed;
    top: 0;
    left: 0;
		height: 8%;
		width: 100%;
    display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
    gap: 1rem;
		background-color: var(--color-secondary-light-grey);
		transition: 1s;
		transform: translateY(-15vh);
    z-index: 1;
  }

  nav .responsive_navbar {
		transform: none;
	}
}


@media screen and (max-width:540px) {
  nav {
    grid-gap: 0.7rem;
  }
  nav ul {
    gap: 0.8rem;
    /* margin-top: 0; */
  }
  nav ul a {
    font-weight: var(--display-regular-weight);
  }
}

@media screen and (max-width:512px) {
  nav {
    grid-gap: 0.5rem;
  }
  nav ul {
    gap: 0.6rem;
    /* margin-top: 1px; */
  }
  nav ul a {
    font-size: 14px;
  }
}

@media screen and (max-width:480px) {
  nav {
    grid-gap: 1rem;
  }
  nav ul {
    gap: 0.6rem;
    /* margin-top: 0; */
  }
  nav ul a {
    font-weight: var(--display-regular-weight);
    font-size: 14px;
  }
}

@media screen and (max-width:480px) {
  nav ul a {
    font-weight: var(--display-regular-weight);
    font-size: 12px;
  }
}

@media screen and (max-width:480px) {
  nav ul a {
    font-size: 10px;
  }
}

@media screen and (max-width:280px) {
  nav img {
    display: none;
  }
  nav {
    grid-template-columns: none;
  }
  nav ul {
    gap: 0.6rem;
  }
}